<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <form class="form-label" id="login-form">
    
         <div>
            <label class="form-label" for="email-input-login">email</label>
            <input id="email-input-login" type="text" />
        </div>
        
        <div>
            <label class="form-label" for="password-input-login">password</label>
            <input id="password-input-login" type="password" />
        </div>
        <button id="login-btn" class="btn" type="submit">Login</button>
        <a type="button" href="/signup">Sign up!</a>
    </form>
</div>
<script src="/js/login.js"></script>